header {
  .logo {
    max-width: 200px;
    img {
      width: 100%;
    }
  }
  .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 18px;
  }
}
.menu {
  display: flex;
  gap: 5px 10px;
  li {
    a {
      padding: 6px 10px;
      font-family: var(--ff-body);
      color: var(--c-heading);
    }
  }
}
.icon-list {
  display: flex;
  gap: 10px;
  li {
    a {
      color: var(--c-heading);
      padding: 10px;
    }
  }
}
